* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
$first-color: white;
body {
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
}
header {
	display: flex;
	align-items: center;
	flex-direction: column;

	.text-header,
	h1 {
		font-size: 30px;
	}
	.text-header {
		margin-top: 5vh;
		color: black;
	}
	h1 {
		margin-bottom: 20px;
	}
	p {
		color: gray;
	}
}
main {
	display: flex;
	justify-content: center;
	.content{
		max-width: 1440px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);

	.card{
		background-color: $first-color;
		width: 500px;
		border-radius: 10px;
		padding: 30px;
		box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
		.card_img_box{
			display: flex;
			justify-content: flex-end;
			img {
		width: 60px;
		height: 60px;
	}
		}
	}

	.supervisor {
		border-top: 6px solid rgb(42, 179, 179);
		grid-column: 1/2;
		grid-row: 2/4;
	}
	.team-builder {
		border-top: 6px solid rgb(212, 17, 17);
		grid-column: 2/3;
		grid-row: 1/3;
	}
	.karma {
		border-top: 6px solid rgb(202, 177, 35);
		grid-column: 2/3;
		grid-row: 3/5;
		
	}
	.calculator {
		border-top: 6px solid rgb(10, 67, 133);
		grid-column: 3/4;
		grid-row: 2/4;
	}
	p {
		margin-top: 10px;
		color: gray;
	}
}
}
// @media (max-width: 775px) {
// 	header {
// 		left: 30vh;
	
// 		.text-header,
// 		h1 {
// 			font-size: 15px;
// 			text-align: center;
// 		}
		
// 		h1 {
// 			margin-bottom: 10px;
// 		}
// 		p {
// 			color: gray;
// 			font-size: 10px;
// 			text-align: center;
			
// 		}
// 	}
// 	main {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		position: relative;
// 		img {
// 			position: absolute;
// 			margin-left: 25vh;
// 			margin-top: -20px;
// 		}
// 	.supervisor, .team-builder, .karma, .calculator {
// 		width: 45vh;
// 		height: 30vh 
// 			p {
// 				font-size: 10px;
// 			}
// 			h2 {
// 				font-size: 14px;
// 			}
// 		}
// 	}
//  }
// 		.paragraph {
// 			margin: 10px;
// 			font-size: 10px;


// 		}
// 		p {
// 			margin-left: 20px;
// 			margin-right: 20px;
// 		}

	